# Machine Learning Model Application on Loan Data Set

# Here Import All Library

In [1]:
import pandas as pd

In [8]:
data_set=pd.read_csv("loan_data_set.csv")

In [15]:
data_set

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [10]:
data_set.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [22]:
data_set.fillna (method="ffill", inplace=True)
print("Missing Value forward fill Successfully")

Missing Value forward fill Successfully

In [23]:
data_set.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           1
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [27]:
data_set.fillna (method="Bfill", inplace=True)
print("Missing Value BEFORE fill Successfully filled all NaN value")

Missing Value BEFORE fill Successfully filled all NaN value

In [26]:
data_set.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

In [40]:
data_set1=pd.get_dummies (data_set,columns=["Gender", "Married", "Dependents", "Education", "Self_Employed","Property_Area","Loan_Status"])

In [45]:
print("Dummy dataset is created ")

Dummy dataset is created

In [42]:
data_set1.dtypes
data_set1.drop("Gender_Female", axis=1, inplace=True)
data_set1.drop("Married_No", axis=1, inplace=True)
data_set1.drop("Education_Graduate", axis=1, inplace=True)
data_set1.drop("Self_Employed_No", axis=1, inplace=True)
data_set1.drop("Property_Area_Rural", axis=1,inplace=True) 
data_set1.drop("Loan_Status_N", axis=1, inplace=True)
data_set1.drop("Dependents_3+", axis=1, inplace=True)
print("Drop some specific column from Dummy Dataset ,data_set1")

Drop some specific column from Dummy Dataset ,data_set1

In [43]:
data_set1.head(5)

,Loan_ID,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Gender_Male,Married_Yes,Dependents_0,Dependents_1,Dependents_2,Education_Not Graduate,Self_Employed_Yes,Property_Area_Semiurban,Property_Area_Urban,Loan_Status_Y
0,LP001002,5849,0.0,128.0,360.0,1.0,1,0,1,0,0,0,0,0,1,1
1,LP001003,4583,1508.0,128.0,360.0,1.0,1,1,0,1,0,0,0,0,0,0
2,LP001005,3000,0.0,66.0,360.0,1.0,1,1,1,0,0,0,1,0,1,1
3,LP001006,2583,2358.0,120.0,360.0,1.0,1,1,1,0,0,1,0,0,1,1
4,LP001008,6000,0.0,141.0,360.0,1.0,1,0,1,0,0,0,0,0,1,1

In [47]:
x=data_set1.iloc[:,2:15] 
y=data_set1.iloc[:,-1]

In [48]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.25, random_state=(0))

In [49]:
from sklearn.linear_model import LogisticRegression
m1=LogisticRegression() 
m1.fit(x_train, y_train) 
y_pred=m1.predict(x_test)

In [50]:
from sklearn.metrics import accuracy_score,confusion_matrix 
acc=accuracy_score(y_test, y_pred) 
c=confusion_matrix(y_test,y_pred) 
print(acc)
print(c)

0.8506493506493507
[[ 23  20]
 [  3 108]]